#userTable {
    border-radius: 25px;
    border: thin solid #009879;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#userTable thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#userTable th, td {
    padding: 12px 15px;
}

#userTable tbody tr {
    border-bottom: thin solid #dddddd;
}

#userTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#userTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
#postText {
    white-space: pre-line;
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}